nav.navbar.blue.lighten-3
  .nav-wrapper.valign-wrapper
    .center
      ul#nav-mobile
        li
          a(href="/trip")
            i.material-icons.nav-item home
        li
          a(href="/contacts") 
            i.material-icons.nav-item contacts
        li
          a(href="/settings")
            i.material-icons.nav-item settings



 
