nav.navbar.blue.lighten-3
  .nav-wrapper.valign-wrapper
    ul#nav-mobile.right
      li
        a.nav-item(href="/trip")
          i.material-icons home
      li
        a.nav-item(href="/contacts") 
          i.material-icons contacts



 
