
/* General Styles */
.center{
  margin: auto;
}

.container{
  margin: 4rem auto;
}

p{
  font-size: 2rem;
}

h1{
  font-size: 7rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 4.6rem;
  margin-bottom: 2rem;
}


label{
  font-size: 2rem;
  line-height: 3rem;
}

input.form-input{
    font-size: 3rem !important;
    line-height: 3.7rem;
    height: 8vh !important;
}

input.submit-button{
  margin-top: 6vh;
  width: 85vw;
  height: 8rem;
  font-size: 3rem;
}

/* NavBar */
nav.navbar{
  height: 12rem;
}

nav i.nav-item{
  font-size: 6.7rem;
  margin: 0 1rem 0 1rem;
}

nav .center{
  width: auto;
}


/* Login */
.login-container{
  margin-top: 20vh;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
 

}