
/* General Styles */
.center{
  margin: auto;
}

.container{
  overflow: scroll;
  height: 76vh;
  margin-top: 12vh;
  margin-bottom: 12vh;
}

p{
  font-size: 2rem;
}

h1{
  font-size: 7rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 4.6rem;
  margin-bottom: 2rem;
}


label{
  font-size: 2rem;
  line-height: 3rem;
}

input.form-input{
    font-size: 2.4rem !important;
    line-height: 3.2rem;
    height: 8vh !important;
}

.full-size-btn{
  margin-top: 6vh;
  width: 85vw;
  height: 8rem;
  font-size: 3rem;
}

/* NavBar */
#navbar{
  top:0;
  height: 10vh;
  position: fixed;
}

nav i.nav-item{
  font-size: 6.7rem;
  margin: 0 1rem 0 1rem;
}

nav .center{
  width: auto;
}


/* Login */
.login-container{
  margin-top: 20vh;
}


/* Tutorial */
.tutorial > li {
  line-height: 4rem;
  font-size: 2rem;
}

/* Trip Form*/
.sample-texts{
  margin-top: 3rem;
  font-size: 1rem;
}

.timer{
  margin-top: 4rem;
  font-size: 4rem;
}

.safe-code-input{
  margin-top: 4rem;
}

#geolocation-text {
  font-size: 1.85rem;
  line-height: 1.7;
}

#testLocationBtn {
  margin: 3vh auto;
  width: 45vw;
  height: 4rem;
  font-size: 1.74rem;
}

#geolocation, label[for=geolocation]{
  font-size: 1.74rem;
}
/* Contacts */
.button-group{
  margin: 4rem auto 2rem auto;
  width: 16rem;
}

.button-group button{
  width: 8rem;
  height: 8rem;
}

.button-group button i{
  font-size: 4rem
}


/* Footer */
#footer-nav{
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 10vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media only screen and (min-width: 768px) {
    /* For desktop: */
 

}