extends index
block content 
  h1.flow-text Emergency Contacts
  a(href='contacts/new')
    button.btn.amber.lighten-1 Add New Contact
  if contactArray
    each contact in contactArray
      p.flow-text=contact.name
      p.flow-text=contact.phone_number
      a(href=`/contacts/edit/${contact.id}`)
        button.btn.amber.lighten-1 Edit 
      button.btn.deleteContact.deep-orange.lighten-2#contact.id Delete

