extends index
block content 

  h3 Edit #{contact.name}'s Information
  form(name="emergency-contacts" method="post" action=`/contacts/edit/${contact.id}`)
    label(for="name") Name
    input.form-input(name="name" type="text" value=contact.name required)
    label(for="phone_number") Phone Number
    input.form-input(name="phone_number" type="tel" value=contact.phone_number required)
    input.full-size-btn.btn.amber.lighten-1(type="submit" value="Update")