doctype html
html
  head
    title Home Safe
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css', rel='stylesheet')
    link(rel="stylesheet" href='/styles/main.css' type="text/css")

  body
    include partials/nav
    
    .container
      block content

    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
  
    script
      include ../client/events.js
      include ../client/trip-clock.js
      include ../client/form-validation.js