extends index
block content 

  if message 
    h2= message
    
  h1 Sign Up
  form(name="register" method="post" action="/register")
    label(for="first_name") First name
    input.text(id="first_name" name="first_name" type="text" required)
    label(for="last_name") Last name
    input.text(name="last_name" type="text" required)
    label(for="email") Email Address
    input.text(name="email" type="email" required)
    label(for="password") Password
    input(name="password" type="password" required)
    label(for="confim_password") Confirm Password
    input(name="confirm_password" type="password" required)

    h2 Safe Code 
    label(for="safe_code") Safe Code
    input(name="safe_code" type="text" required)
    label(for="confirm_safe_code") Confirm Safe Code
    input(name="confirm_safe_code" type="text" required)

    h2 Emergency Code 
    label(for="emergency_code") Emergency Code
    input(name="emergency_code" type="text" required)
    label(for="confirm_emergency_code") Confirm Emergency Code
    input(name="confirm_emergency_code" type="text" required)

    input.btn(type="submit" value="Register")