extends index
block content 

  if message 
    h2= message
    
  h1 Sign Up
  form(name="register" method="post" action="/register")
    label(for="first_name") First name
    input.text(id="first_name" name="first_name" type="text" required)
    label(for="last_name") Last name
    input.text(name="last_name" type="text" required)
    label(for="email") Email Address
    input.text(name="email" type="email" required)
    label(for="password") Password
    input(name="password" type="password" required)
    label(for="confirm-password") Confirm Password
    input(name="confirm-password" type="password" required)

    h2 Safe Code 
    label(for="safe-code") Safe Code
    input(name="safe-code" type="text" required)
    label(for="confirm-safe-code") Confirm Safe Code
    input(name="confirm-safe-code" type="text" required)

    h2 Emergency Code 
    label(for="emergency-code") Emergency Code
    input(name="emergency-code" type="text" required)
    label(for="confirm-emergency-code") Confirm Emergency Code
    input(name="confirm-emergency-code" type="text" required)

    h2 Emergency Contact #1 
    label(for="name") Name
    input(name="name" type="text" required)
    label(for="phone") Phone Number
    input(name="confirm-emergency-code" type="tel" required)

    h2 Emergency Contact #2
    label(for="name") Name
    input(name="name" type="text" required)
    label(for="phone") Phone Number
    input(name="confirm-emergency-code" type="tel" required)

    h2 Emergency Contact #3
    label(for="name") Name
    input(name="name" type="text" required)
    label(for="phone") Phone Number
    input(name="confirm-emergency-code" type="tel" required)


    input.btn(type="submit" value="Register")