extends index
block content 

  if message 
    h2= message
    
  h1 Sign Up
  form(name="register" method="post" action="/register")
    label(for="first_name") First name
    input.text(id="first_name" name="first_name" type="text" required)
    label(for="last_name") Last name
    input.text(name="last_name" type="text" required)
    label(for="email") Email Address
    input.text(name="email" type="email" required)
    label(for="password") Password
    input(name="password" type="password" required)
    label(for="confirmation") Confirmation
    input(name="confirmation" type="password" required)
    input.btn(type="submit" value="Sign In")