extends index
block content 

  h3 Howdy!
  p.fluid-text It's me, your over-protective big sister.
  p.fluid-text Whether you're going on a run or walking home at night, give me a heads up. I won't judge you. I won't tell your mom unless you tell me to.
  ol.tutorial
    li I'll ask you where you're going and what time you'll be back.
    li I'll start a timer and count down till your return time.
    li When you get home, enter your four-digit passcode. I won't text anyone!
    li If you don't make it home by your return time, I'll text your emergency contacts and let them know.
    li If you enter your emergency code while you're out, I'll text your emergency contacts and tell them that you might be in trouble.

  if numberOfContacts > 0 
    a(href="/trip/start")
      button.full-size-btn.btn.amber.lighten-1 I'm Going Out!
  else 
    h4.red.lighten-3 You don't have any emergency contacts. Add at least one to start a trip.
    a(href="/contacts/new")
      button.full-size-btn.btn.amber.lighten-1 Add A Contact